form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.form-title {
  text-align: center; // Căn giữa tiêu đề
  margin-bottom: 20px; // Khoảng cách giữa tiêu đề và form
  font-size: 24px; // Kích thước chữ của tiêu đề
  color: #333; // Màu chữ của tiêu đề
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.input-error {
  border-color: #dc3545; /* Màu đỏ */
}
.text-danger {
  color: #dc3545; /* Màu đỏ */
  font-size: 0.875rem; /* Kích thước font nhỏ hơn */
  margin-top: 0.25rem; /* Khoảng cách với input */
}
